    /*
    Flaticon icon font: Flaticon
    Creation date: 01/10/2020 09:16
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-shipment:before { content: "\f100"; }
.flaticon-warehouse:before { content: "\f101"; }
.flaticon-boxes:before { content: "\f102"; }
.flaticon-delivery-truck:before { content: "\f103"; }
.flaticon-delivery-box:before { content: "\f104"; }
.flaticon-vessel:before { content: "\f105"; }
.flaticon-delivery:before { content: "\f106"; }
.flaticon-delivery-truck-1:before { content: "\f107"; }
.flaticon-forklift:before { content: "\f108"; }
.flaticon-frontal-truck:before { content: "\f109"; }
.flaticon-truck:before { content: "\f10a"; }
.flaticon-truck-1:before { content: "\f10b"; }
.flaticon-packages:before { content: "\f10c"; }
.flaticon-warehouse-1:before { content: "\f10d"; }
.flaticon-warehouse-2:before { content: "\f10e"; }
.flaticon-warehouse-3:before { content: "\f10f"; }
.flaticon-shed:before { content: "\f110"; }
.flaticon-worker:before { content: "\f111"; }
.flaticon-teamwork:before { content: "\f112"; }
.flaticon-builder:before { content: "\f113"; }
.flaticon-distribution:before { content: "\f114"; }
.flaticon-lorry:before { content: "\f115"; }
.flaticon-cargo-ship:before { content: "\f116"; }
.flaticon-warehouse-4:before { content: "\f117"; }
.flaticon-warehouse-5:before { content: "\f118"; }
.flaticon-container:before { content: "\f119"; }
.flaticon-container-1:before { content: "\f11a"; }
.flaticon-container-2:before { content: "\f11b"; }
.flaticon-crane:before { content: "\f11c"; }
.flaticon-container-3:before { content: "\f11d"; }
.flaticon-container-4:before { content: "\f11e"; }
.flaticon-cargo:before { content: "\f11f"; }
    
    $font-Flaticon-shipment: "\f100";
    $font-Flaticon-warehouse: "\f101";
    $font-Flaticon-boxes: "\f102";
    $font-Flaticon-delivery-truck: "\f103";
    $font-Flaticon-delivery-box: "\f104";
    $font-Flaticon-vessel: "\f105";
    $font-Flaticon-delivery: "\f106";
    $font-Flaticon-delivery-truck-1: "\f107";
    $font-Flaticon-forklift: "\f108";
    $font-Flaticon-frontal-truck: "\f109";
    $font-Flaticon-truck: "\f10a";
    $font-Flaticon-truck-1: "\f10b";
    $font-Flaticon-packages: "\f10c";
    $font-Flaticon-warehouse-1: "\f10d";
    $font-Flaticon-warehouse-2: "\f10e";
    $font-Flaticon-warehouse-3: "\f10f";
    $font-Flaticon-shed: "\f110";
    $font-Flaticon-worker: "\f111";
    $font-Flaticon-teamwork: "\f112";
    $font-Flaticon-builder: "\f113";
    $font-Flaticon-distribution: "\f114";
    $font-Flaticon-lorry: "\f115";
    $font-Flaticon-cargo-ship: "\f116";
    $font-Flaticon-warehouse-4: "\f117";
    $font-Flaticon-warehouse-5: "\f118";
    $font-Flaticon-container: "\f119";
    $font-Flaticon-container-1: "\f11a";
    $font-Flaticon-container-2: "\f11b";
    $font-Flaticon-crane: "\f11c";
    $font-Flaticon-container-3: "\f11d";
    $font-Flaticon-container-4: "\f11e";
    $font-Flaticon-cargo: "\f11f";